<div class="container">
  <div class="row d-flex justify-content-between align-items-center p-3">
    <h1>Wikinimous</h1>

    <%= link_to 'Add new article', new_article_path, class: "btn btn-primary" %>
  </div>

  <ul>
    <% @articles.each do |article| %>
      <li>
        <h2><%= link_to article.title,  article_path(article.id) %></h2>
        <p><%= article.content %></p>
      </li>
    <% end %>
  </ul>

</div>
